@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


*{

    margin:0;
    box-sizing: border-box;

    font-family:  'Poppins','Arial';
    
}

body{

    background-color: #ffffff;

}

/* ----------------------------------- */
.bigdiv{
    background-image: url("Resources/hero_bg.png");
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    height: 708px;
}

.header{
    
    position: static;

    width:100%;
    height: 150px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgba(255,255,255,25%);  

}

.logo{
    position: relative;
    height: 150px ;
    bottom: -10px;
    
}


.navbar a {

    margin: 0 20px;

    text-decoration: none;
    color: #ffffff;

    font-weight: lighter;
    font-size: medium;

    transition: all;
    transition: .5s;
}

.navbar a:hover{
    text-decoration: underline;
    text-decoration-color: #FA8B02;
}

.language-login-signup{
    font-size: 15px;
}

#lan{
    background-color: transparent;
    border: 0px solid transparent;
    color: #EFEFEF;

    margin-right: 10px;
}

#login{

    border: 0px solid transparent;
    background-color: transparent;
    color: #ffffff;

    margin-right: 10px;

    transition: all;
    transition-duration: .5s;
}

#login:hover{
    color:#000000;
}

#signup{
    border: 0px solid transparent;
    background-color: #FA8B02;
    color: #ffffff;

    padding: 10px 30px 10px 30px; 
    border-radius: 50px;

    transition: all;
    transition-duration: .5s;
}

#signup:hover{
    background-color:transparent;
    color: #ffffff;
    border: 2px solid #FA8B02;
}
/* ------------------------------------------------- */
.booking {
    width:100%;
    height : 300px ;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote1{
    font-size: 40px;
    color: #ffffff ;

}
.quote2{
    font-size: larger;
    color: #ffffff;
}

/* ------------------------------------------------ */


.popular-destinations-title{

    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.btn{
    border: 0px solid transparent;
    border-radius: 100%;

    background-color:  #EFEFEF;
    color: #b5b5b5;

    font-size: 20px;
    
    transition: all;
    transition-duration: .5s;

    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover{
    background-color: #FA8B02;
    color:#ffffff;
}

.popular-destination{

    box-sizing: content-box;
    width: 100%;
    
    
    display: inline-flex;
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-self: center;

}

.popular-destination-name{
    width:350px;
    font-size: 17.5px;
    color: #666666;
    
    
}


.destination{
    box-sizing: content-box;
    transform: scale(.75);
    margin:0;
}



.day-align, .euros{
    color:#FA8B02;
    display: inline-flex;
    font-size: 15px;
}

.euros{
    color:#FA8B02;
    font-size: 25px;
    font-weight: 900;
}

.pricing{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------- */

.best-company-girl{
    transform: scale(.75);
}

.best-company{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 750px;
}

.best-company-theory{
    width: 675px;
}

.best-company-welcome{
    color: #bababa;
}

.best-company-para{
    color: #666666;
}

.best-company-achievements{
    display: inline-flex;
}

.ach{
    margin-right: 50px;
}

.ach-no{
    font-size: 25px;
    font-weight: 700;
    color: #FA8B02;
}

.ach-name{
    font-weight: 400;
    color: #858585;
}

/* ------------------------------ */

.special-offers{

    box-sizing: content-box;
    height: 450px;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-image: linear-gradient(90deg, #FFCFA6,#FFB48B,#FEA775);

}

.spl-offer-org{
    font-weight: 900;
    font-size: 30px;
}

.spl-offer-org-para{
    font-size: 17.5px;
}

.about-special-offers{
    height: 320px;
    width: 570px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;

    position: relative;
    top:68px;
    

    background-color: rgba(255,255,255,25%);
    border-radius: 25px;
    
}

.contact-for-special-offers{

    font-size: 20px;
    background-color: #FA8B02;
    border: transparent;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;

    transition: all;
    transition-duration: .5s;

    margin-top: 10px;
}

.contact-for-special-offers:hover{
    background-color: transparent;
    color: #FA8B02;
    border: 2px solid #FA8B02;
}

.special-offers-girl img{
    position: relative;
    top: -150px;
}

/* --------------------------------------------------------- */


.services{

    box-sizing: content-box;
    width: 100%;
    height: 660px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}
.service-name{
    text-align: left;
    font-size: 20px;
    width: 300px;

}

.service-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-img img{
    width: 75%;
}

.service-description{
    width:300px;
    font-size: 15px;
    color: #666666;
}

/* ------------------------------------------------------ */

.book-a-bike{
    height: 450px;
    width: 100%;

    background-image: linear-gradient(90deg, #FFCFA6,#FFB48B,#FEA775);

    display: flex;
    justify-content: center;
    

    
}

.book{
    font-size: 25px;
    font-weight: 900;
}

.details-to-book-bike{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookdetails{
    display: flex;

}

.to-book-bike{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,25%);
    border-radius: 25px;

    height: 320px;
    width: 600px;

    padding: 20px;
}

.details-left input, .details-right input, #service-type{
    background-color: #ffffff;
    color: #989898;
    border: 0px solid transparent;
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 3px;
}

.button-for-bike{
    font-size: 15px;
    background-color: #FA8B02;
    border: transparent;
    border-radius: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;

    transition: all;
    transition-duration: .5s;

    margin-top: 20px;

}

.button-for-bike:hover{
    background-color: transparent;
    color: #FA8B02;
    border: 2px solid #FA8B02;
}

.details-name{
    padding-top: 10px;
    font-size: 15px;
    color: #333333;
}

.bike-picture{
    margin-bottom: -30px;
}